
body{
	margin-bottom: 100px;
	background-color: #00CCCC; 
}

#menu_li{
	display: inline-block;
	font-family: 'Open Sans', serif;
	font-size: 20px;
	color: #FFFFFF;
	padding-right: 100px;
	padding-left: 100px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}
#menu_lii{
	display: inline-block;
	font-family: 'Open Sans', serif;
	font-size: 20px;
	color: #FFFFFF;
	padding-right: 100px;
	padding-left: 100px;
}

/*SECTION 1*/

#section_one{
  margin-right: 50px;
  padding-bottom: 280px;
}

#section_one_heading{
  font-family: 'Shadows Into Light', serif;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-right: 50px;
  padding-left: 50px;
  font-size: 50px;
  text-align: right;
}

#section_one_paragraph{
	font-family: 'Open Sans', serif;
	color: #FFFFFF;
	font-size: 12px;
	padding-bottom: 50px;
	padding-right: 50px;
	margin-right: 50px;
	text-align: right;
}


#section_one_image{
	height: 100%;
	width: 51.13%;
	float: left;
}

/*SECTION 2*/

#section_two{
	padding-bottom: 280px;
}

#section_two_heading{
  font-family: 'Shadows Into Light', serif;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 100px;
  padding-left: 50px; 
  font-size: 50px;
}

#section_two_paragraph{
	font-family: 'Open Sans', serif;
	color: #FFFFFF;
	font-size: 12px;
	padding-bottom: 50px;
	margin-left: 50px;
}

#section_two_image{
	height: 100%;
	width: 51.13%;
	float: right;
	padding-left: 0px;
}

/*Section 3*/

#section_three{
  margin-right: 50px;
  padding-bottom: 280px;
}

#section_three_heading{
  font-family: 'Shadows Into Light', serif;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-right: 50px;
  padding-left: 50px;
  font-size: 50px;
  text-align: right;
}

#section_three_paragraph{
	font-family: 'Open Sans', serif;
	color: #FFFFFF;
	font-size: 12px;
	padding-bottom: 50px;
	margin-right: 50px;
	text-align: right;
}

#section_three_image{
	height: 100%;
	width: 51.13%;
	float: left;
}

/*Section 4*/

#sectionfour{
	padding-bottom: 280px;
}

#section_four_heading{
  font-family: 'Shadows Into Light', serif;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 100px;
  padding-left: 50px; 
  font-size: 50px;
}

#section_four_paragraph{
	font-family: 'Open Sans', serif;
	color: #FFFFFF;
	font-size: 12px;
	padding-bottom: 250px;
	margin-left: 50px;
}

#section_four_image{
	height: 100%;
	width: 51.13%;
	float: right;
	padding-left: 0px;
}

/*SECTION 5*/

#section_five{
  margin-right: 50px;
  padding-bottom: 280px;
}

#section_five_heading{
  font-family: 'Shadows Into Light', serif;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-right: 50px;
  padding-left: 50px;
  font-size: 50px;
  text-align: right;
}

#section_five_paragraph{
	font-family: 'Open Sans', serif;
	color: #FFFFFF;
	font-size: 12px;
	padding-bottom: 50px;
	margin-right: 50px;
	text-align: right;
}

#section_five_image{
	height: 100%;
	width: 51.13%;
	float: left;
}

/*Section 6*/

#section_six{
	padding-bottom: 280px;
}

#section_six_heading{
  font-family: 'Shadows Into Light', serif;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 100px;
  padding-left: 50px; 
  font-size: 50px;
}

#section_six_paragraph{
	font-family: 'Open Sans', serif;
	color: #FFFFFF;
	font-size: 12px;
	padding-bottom: 50px;
	margin-left: 50px;
}

#section_six_image{
	height: 100%;
	width: 51.13%;
	float: right;
	padding-left: 0px;
}

/*Section 7*/

#section_seven{
  margin-right: 50px;
  padding-bottom: 280px;
}

#section_seven_heading{
  font-family: 'Shadows Into Light', serif;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-right: 50px;
  padding-left: 50px;
  font-size: 50px;
  text-align: right;
}

#section_seven_paragraph{
	font-family: 'Open Sans', serif;
	color: #FFFFFF;
	font-size: 12px;
	padding-bottom: 50px;
	margin-right: 50px;
	text-align: right;
}

#section_seven_image{
	height: 100%;
	width: 51.13%;
	float: left;
}

/*Section 8*/

#section_eight{
	padding-bottom: 280px;
}

#section_eight_heading{
  font-family: 'Shadows Into Light', serif;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 100px;
  padding-left: 50px; 
  font-size: 50px;
  text-align: left;
}

#section_eight_paragraph{
	font-family: 'Open Sans', serif;
	color: #FFFFFF;
	font-size: 12px;
	padding-bottom: 50px;
	margin-left: 50px;
	text-align: left;
}

#section_eight_image{
	height: 100%;
	width: 51.13%;
	float: right;
	padding-left: 0px;
}


/*Section 9*/

#section_nine{
  margin-right: 50px;
  padding-bottom: 280px;
}

#section_nine_heading{
  font-family: 'Shadows Into Light', serif;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-right: 50px;
  padding-left: 50px;
  font-size: 50px;
  text-align: right;
}

#section_nine_paragraph{
	font-family: 'Open Sans', serif;
	color: #FFFFFF;
	font-size: 12px;
	padding-bottom: 50px;
	margin-right: 50px;
	text-align: right;
}

#section_nine_image{
	height: 100%;
	width: 51.13%;
	float: left;
}

/*footer*/

#footer_heading{
  font-family: 'Shadows Into Light', serif;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 100px;
  padding-left: 50px; 
  font-size: 50px;
}

#icons{
	display: inline;
	width: 20px;
	height: 20px;
	margin-left: 50px;
}

#facebook, #linkedin, #github{
	padding-right: 10px;
}


