
h1, p{
	font-family: 'Roboto', serif;
	text-align: right;
}

h1{
	margin-top: 20%;
	padding-right: 10%;
	padding-left: 10%;
	margin-bottom: 26%;

	font-size: 8.25vw;

	border-left-style: solid;
	border-left-width: 0.75vw;
}

p{
	padding-right: 10%;
	line-height: 200%;
	
	font-size: 1.635vw;
}
