
h1, p{
	font-family: 'Roboto', serif;
	text-align: right;
}

h1{
	margin-top: 20%;
	padding-right: 10%;
	padding-left: 10%;
	margin-bottom: 26%;
	font-size: 8.25vw;
	position: fixed;
	color: #E8E8E8 ;
	border-left-style: solid;
	border-left-width: 1.75vw;
	border-left-color: #E8E8E8 ;
	opacity: 0.8;
}

p{
	padding-top: 1vw;
	padding-left: 1vw;
	line-height: 400%;
	font-size: 1.1vw;
	color: #000;
	position: relative;
	text-align: left;
	margin-right: 68vw;
	-ms-transform: translate(2vw,-81.5vw); /* IE 9 */
   	-webkit-transform: translate(2vw,-81.5vw); /* Safari */
    transform: translate(2vw,-81.5vw);
    background-color: #FFF;
    opacity: 0.8;
    transition: 0.5s;
}
p:hover{
	padding-top: 1vw;
	padding-left: 1vw;
	line-height: 400%;
	font-size: 1.1vw;
	color: #000;
	position: relative;
	text-align: left;
	margin-right: 68vw;
	-ms-transform: translate(2vw,-81.5vw); /* IE 9 */
   	-webkit-transform: translate(2vw,-81.5vw); /* Safari */
    transform: translate(2vw,-81.5vw);
    background-color: #FFF;
    opacity: 1;
    transition: 0.5s;
}

#img{
	background-size: cover;
	width: 100vw;
	height: 100vw;
}
