h1{
    color:#FFFFFF ;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}


#blogw{
    font-size: 25px;
    color: #C0C0C0;
    font-style: bold;
}

#blogw:hover{
    color: #FFFFFF;
}

#sub-blogw{
    color: #000000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float:right;
}

#menu:link, #menu:visited {
    display: block;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3399FF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#menu:hover, #menu:active {
    background-color: #FFFFFF;
    color: #3399FF;
}

#aboutlink{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #707070;
    border-color: #989898 ;
    border-width: 1px;
    color:#D0D0D0;
}

#aboutlink:hover{
    color: #FFFFFF;
    border-style: solid;
    border-color: #FFFFFF;
}

}

#foot{
    color: #D0D0D0;
}

#line{
    text-decoration: none;
    color: #00CCFF;
}

#line:hover{
    color: #0033FF;
}   


