h1{
    color:#FFFFFF ;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

body{
    background-color: ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float:right;
}

#menu:link, #menu:visited {
    display: inline-block;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #484848;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#menu:hover, #menu:active {
    background-color: #909090;
}

#aboutlink{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #707070;
    border-color: #989898 ;
    border-width: 1px;
    color:#D0D0D0;
}

#aboutlink:hover{
    color: #FFFFFF;
    border-style: solid;
    border-color: #FFFFFF;
}

p{
    color: #D0D0D0;
}

#outline{
    border-color: #D8D8D8;
    border-width: 2px;
}

#stream:{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color:#D0D0D0; 
};

