#blogtitle{
    text-align: center;
	font-size: 35px;
	opacity: 1;
}

#blogdate{
	font-size: 20px;
	font-weight: 400;
	margin-right: 200px;
	margin-left: 100px;
}

#blogsubtitle{
    margin-left: 20px;
	font-size: 55px;
	opacity: 1;
    letter-spacing: -8;
    color:dimgrey;
}

#blogdesc{
	font-size: 20px;
	font-weight: 200;
	margin-right: 200px;
	margin-left: 100px;
	padding-bottom: 50px;
	padding-top: 20px;
	line-height: 40px;
}

#day1img1{
    padding-left: 20px;
    width: 900px;
    height: 900px;
}