body{
	background-color: #181818 ;
}

#thanks{
	color:#383838 ;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display: block;
    text-decoration: none;
}

#line{
	text-decoration: none;
	color: 333366;
}

#line:hover{
	color: #FFFFFF;
}

#index{
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #707070;
	border-color: #989898 ;
	border-width: 1px;
}

#index:hover{
	color: #FFFFFF;
}