body{
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Lato', sans-serif;*/
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased
}

#menu{
  text-decoration: none;
  color: #FFF;
  transition: 0.2s;
  text-shadow:0 0 0.01em #FFF, 0 0 0.01em #FFF,0 0 0.01em #FFF;
}

#menu:hover{
  text-shadow:0 0 0.2em #FFF, 0 0 0.2em #FFF,0 0 0.2em #FFF;
  transition: 0.2s;
}

#menu:visited{
  text-shadow:0 0 0.2em #FFF, 0 0 0.2em #FFF,0 0 0.2em #FFF;
  transition: 0.2s;
}

#sidebar{
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 10px;
  color: #FFF;
  background-color: #000;
  position: fixed;
  width: 240px;
  visibility: hidden;
}

#lisidebar{
  list-style: none;
  font-size: 23px;
  line-height: 5vh;
}

#heading{
  top: 0;
  background-color: #FFF;
}

#title{
  top: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: solid;
  border-bottom-width: 01px;
  padding-right: 1000px;
  margin-right: 100px;
  font-size: 45px;
  position: fixed;
  background-color: #FFF;
}

#no_post{
  font-size: 100px;
  color: #000;
  opacity: 0.2;
  font-weight: 800;
}

#mainbar{
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 2px;
}

#namediv{
}

#name{
  padding-left: 2vw;
  padding-right: 2.5vw;
  opacity: 0.4;
  line-height: 25px;
}

#otherlinks{
  font-weight: 200;
  -webkit-font-smoothing: subpixel-antialiased;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #FFF;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-left: 30px;
  margin-right: 60px;
}

#divlinks{
  bottom: 0;
  padding-top: 7vh;
}

#link{
  color: #FFF;
  display: inline;
  text-decoration: none;
}

li{
  left: 0;
  list-style-type: none;
}

#desc{
  padding-top: 90px;
}

#weblink{
  text-decoration: none;
  color: #000;
}

@media (min-width: 58rem){
  #sidebar{
    visibility: visible;
  }

  #mainbar{
    padding-left: 245px;
  }
} 
