
#hacktitle{
	font-size: 45px;
	margin-left: 100px;
}

#hackdate{
	font-size: 20px;
	font-weight: 400;
	margin-right: 200px;
	margin-left: 100px;
}

#hackdesc{
	font-size: 17px;
	font-weight: 200;
	margin-right: 100px;
	margin-left: 100px;
	padding-bottom: 50px;
	line-height: 25px;
}

#img{
	width:400px;height:350px;
}



@media (min-width: 58rem){
	
	#hacktitle{
		font-size: 45px;
		margin-left: 100px;
	}

	#hackdate{
		font-size: 20px;
		font-weight: 400;
		margin-right: 200px;
		margin-left: 100px;
	}

	#hackdesc{
		font-size: 20px;
		font-weight: 200;
		margin-right: 200px;
		margin-left: 100px;
		padding-bottom: 50px;
		line-height: 40px;
	}

	#img{
		width:400px;height:350px;
	}

}