#about{
	font-size: 30px;
	font-weight: 200;
}

#profile-pic{
	border-radius: 50%;
	height: 210px;
	width: 200px;
}

#image{

}

#about{
	padding-top: 8vh;
	font-size: 20px;
	line-height: 6vh;
	margin-left: 17vw;
	padding-right: 17vw;
}

#description_div{
	padding-top: 50px;
}

@media (min-width: 58rem){
	#about{
		padding-top: 8vh;
		font-size: 2.2vw;
		line-height: 6vh;
		margin-left: 10vw;
		padding-right: 17vw;
	}	
} 