body{
  background-color:#C0C0C0;
  font-family: 'Open Sans', sans-serif;
}
header{
  font-size: 10vw;
  position: absolute;
  top: 0;
}
p{
  font-size: 2vw;
  padding-top: 25vw;
  padding-bottom: 10vw;
}
a:link {
  text-decoration: none;
    color: #000000;
}

/* mouse over link */
a:hover {
  text-decoration: none;
    color: #FFFFFF;
}

#links{
  bottom: 0;
  position: absolute;
}
#link{
  display: inline;
  padding-right: 5vw;
  padding-left: 5vw;
}
