body{
  background-color:#C0C0C0;
  font-family: 'PT Serif', serif;
  overflow: hidden;
}
header{
  color: #585858 ;
  font-size: 9vw;
  position: absolute;
  top: 0;
  padding-left: 5px;
  padding-right: 5px;
}
p{
  font-size: 30px;
  padding-top: 15vw;
  padding-bottom: 10vw;
  text-align: center;
  color: #383838 ;
}
a {
  text-decoration: none;
  color: #0000FF;
  transition: 2s;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: #000000;
  transition: 2s;
}

#links{
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #FFFFFF;
  opacity: 0.5;
}
#link{
  display: inline;
  padding-right: 3w;
  padding-left: 3vw;
}
h1{
  text-align: left;
  opacity: 0.5;
  top: 0;
  color: #989898;
  font-size: 35vw;
  position: absolute;
}

