body {
    background-image: url("IMG_2494.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

h1{
	font-size: 15vw;
	color: white;
	opacity: 0.7;
	border-bottom: solid;
	margin-left: 21%;
	margin-right: 21%;
	margin-bottom: 0%;
}

#redirect{
	margin-left: 25%;
	margin-right: 25%;
}

#menubar{
	margin-left: 85%;
	margin-right: 0%;
	margin-bottom: 10%;
}

#links{
	display: inline-block;
	padding-right: 5%;
	padding-left: 5%;
	font-size: 2vw;
}

#menu{
	display: inline-block;
	padding-right: 5%;
	padding-left: 5%;
	font-size: 2vw;
}

a{
	opacity: 0.5;
	color: white;
	text-decoration: none;
}

a:hover, a:active{
	color: white;
	opacity: 1;
	transition: 0.65s;
}


