#desc{
	font-size: 25px;
	font-weight: 200;
}

#projecttitle{
	font-size: 35px;
	opacity: 1;
	margin-left: 100px;
}

#projectdesc{
	font-size: 20px;
	font-weight: 200;
	margin-right: 200px;
	margin-left: 100px;
	padding-bottom: 50px;
	padding-top: 20px;
	line-height: 40px;
}