
body{
    background-image: url("header.png");
    background-image-size: 500px;
    height: 2500px;
    background-size: 500px;
    margin-right: 250px;
    margin-left: 250px;
    margin-bottom: 50px;
}

#message {
    
    border-style: solid;
    width: 0.5px;
    padding-left:215px;
    padding-right:250px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #F0F0F0 ;
    border-color: #F0F0F0;
}


#controls{
    border-style: solid;
    border-width: 5px;
}


#message{
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-color:#6495ED;
    font-family: 'Open Sans', sans-serif;
    font-color: #000000;
}

#yellow{
    background-color: #E0E0E0 ;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-style: inset;
    border-color: #778899;
    border-width: 2px;
    color:#FFFFFF;
}

h1, h2{
    color:#A8A8A8 ;
    font-size: 50px;
    font-family: 'Open', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: center;
}

li {

    display: inline-block;
}

#menu:link, #menu:visited {
    position: relative;
    display: block;
    width:150px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #A8A8A8 ;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #FFFFFF;

}

#menu:hover, #menu:active {
    background-color: #C8C8C8;
    color: #707070 ;

}


p{
    color: #FFFFFF ;
    font-style: bold;
}


#sub{
    font-family: "Open", sans-serif;
    color: #A0A0A0;
}

#description{
    margin-left: 50px;
}


#line{
    text-decoration: none;
    color: #00CCFF;
}

#line:hover{
    color: #0033FF;
}   
