#message {
    
    border-style: solid;
    width: 0.5px;
    padding-left:215px;
    padding-right:250px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #F0F0F0 ;
    border-color: #F0F0F0;
}


#controls{
    border-style: solid;
    border-width: 5px;
}


#message{
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-color:#6495ED;
    font-family: 'Open Sans', sans-serif;
    font-color: #000000;
}

#yellow{
    background-color: #E0E0E0 ;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-style: inset;
    border-color: #778899;
    border-width: 2px;
    color:#FFFFFF;
}

h1{
    color:#FFFFFF ;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

body{
    background-color: ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float:right;
}

#menu:link, #menu:visited {
    display: block;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3399FF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#menu:hover, #menu:active {
    background-color: #FFFFFF;
    color: #3399FF;
}

p{
    color: #D0D0D0;
}

#sub{
    font-family: "Open", sans-serif;
    color: #A0A0A0;
}

#description{
    margin-left: 50px;
}


#line{
    text-decoration: none;
    color: #00CCFF;
}

#line:hover{
    color: #0033FF;
}   
