@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600');

body{
	font-family: 'Josefin Sans', sans-serif;
}

.body{
	padding-left: 20%;
	padding-right: 20%;
}

.headerUl{
	padding-top: 1%;
	padding-bottom: 2%;
}

.headerli{
	float: right;
	list-style: none;
	padding-right: 5%; 
	display: block;
}

.headera{
	text-decoration: none;
	font-weight: 600;
	color: #bfbfbf;
	font-size: 25px;
}

.headera:hover{
	text-decoration: none;
	font-weight: 600;
	color: #000;
	font-size: 25px;
}

.homeli{
	float: left;
	list-style: none;
	padding-right: 5%; 
	display: block;
}

h4{
	font-size: 50px;
	font-weight: 600;
	color: #000;
}

p{
	font-size: 20px;
	font-weight: 300;
	color: #000;
}

.projectLeft{
	padding-bottom: 30%;
}

.imageLeft{
	width: 260px;
	height: 440px;
	float: left;
}

.headingLeft{
	padding-left: 15%;
}

.paragraphLeft{
	padding-top: 10%;
	margin-left: 10%;
}