body{
	font-family: 'Roboto', sans-serif;
	background-color: #000020;
	color: white;
}

#space{
	position: relative;
	height: 50%;
	width: 100vw;
	transition: 1s;
}

#name{
	position: absolute;
	font-size: 15vw;
	color: white;
	opacity: 0.7;
	margin-left: 21%;
	margin-right: 21%;
	margin-bottom: 0%;
}

#paragraph{
	position: absolute;
	font-size: 2vw;
	color: white;
	opacity: 0.7;
	margin-left: 30%;
	margin-right: 21%;
	margin-bottom: 0%;
	margin-top: 20%;
}

#myCanvas{
	position: relative;
	background-color: #000015;
	height: 50%;
	width: 100vw;
	transition: 1s;
}

#demoCanvas{
	background-position: relative;
	width: 70vw;
	height: 25vw;
}

#paragraph1, #paragraph2{ 
	display: inline-block;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
}

#paragraph1{
	border-right: 1px;
	border-right-style: solid;
	border-color: #fff;
	opacity: 0.7;
}

#paragraph1_heading, #paragraph2_heading{
	font-size: 2vw;
	color: #fff;
}

#paragraph1_paragraph, #paragraph2_paragraph{
	font-size: 1vw;
	color: #fff;
}

#content{
	background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
	
#redirect1, #redirect2{
	position: absolute;
	display: inline;
}

#redirect2{
	margin-top: 40%;
}

#menubar{
	margin-left: 85%;
	margin-right: 0%;
	margin-bottom: 10%;
}

#github, #facebook, #linkedin{
	display: inline-block;
	padding-right: 5%;
	padding-left: 5%;
	font-size: 1.5vw;
}

#menu{
	display: inline-block;
	padding-right: 5%;
	padding-left: 5%;
	font-size: 1.5vw;
}

a{
	opacity: 0.5;
	color: white;
	text-decoration: none;
}

a:hover, a:active{
	color: white;
	opacity: 1;
	transition: 0.65s;
}
